<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">About Us</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4  w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
           
            <p class="leading-relaxed mb-6">​​Welcome to Nexxell Insurance Services, your trusted insurance broker specializing in surrogacy agencies, egg donor agencies, fertility clinics, and individuals. </p>
            <p class="leading-relaxed mb-6">​​With years of expertise and understanding of the challenges faced by the surrogacy and egg donation community, we are commited to providing tailored insurance solutions that offer peace of mind and security.  </p>

            <p class="leading-relaxed mb-6">Our comprehensive range of services ensures that you receive the best coverage to meet your specific needs, allowing you to focus on what truly matters.</p>

          </div>
        </div>
   
      </div>
    </div>
  </section>